<footer id="footer">
	<a href="https://github.com/Steve0Greatness/Forum-Helpers-Bio-Change-Request">Github Repo</a><br>
	<a href="/view-all">View All Requests</a><br>
	<a href="/whats-next">Future</a><br>
	Moistness. <img src="https://cdn.scratch.mit.edu/scratchr2/static/__4f1f321e080ee4987f163566ecc0dd26__/djangobb_forum/img/smilies/cool.png">
</footer>