<footer id="footer">
	<a href="/view-all">View All Requests</a><br>
	Moistness. <img src="https://cdn.scratch.mit.edu/scratchr2/static/__4f1f321e080ee4987f163566ecc0dd26__/djangobb_forum/img/smilies/cool.png">
</footer>