<header id="header">
	<a href="/" id="sectionAheader">
		<img src="/icon.png" height="30" style="margin-right: 10px;">
		<h1 class="inline">The Forum Helpers</h1>
	</a>
	<div id="sectionBheader">
		<a href="https://theforumhelpers.github.io/">Website</a>
		<a href="/view-all">View All</a>
	</div>
</header>