<!doctype html>
<html lang=en>

<head>
	<title>The Forum Helpers Bio Change Request</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Bio Change Requests</h1>
	<form action="/submit">
		<textarea name="body" placeholder="Enter Your New Bio"></textarea><br>
		<input type="submit">
	</form>
	<details>
		<summary>What About Privacy?</summary>
		<p>This application does not collect any data on you. The only things that are kept are the bios(which are publicly given to others), and a cookie that stays for your session(and only your session) that stores the fact that you're logged in.</p>
	</details>
	<p>Please note that this is not official. I do not claim that this is monitored by curators or managers.</p>
	<a href="/viewAll"></a>
</body>
	
</html>