<!doctype html>
<html lang=en>

<head>
	<title>Request Bio Change</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<%- include("header") -%>
	<main id="content">
		<h1>Bio Change Requests</h1>
		<form action="/submit">
			<input type="text" name="body" style="margin-bottom: 2px;"><br>
			<input type="submit" value="Submit Request">
		</form>
		<details>
			<summary>What About Privacy?</summary>
			<p>This application does not collect any data on you. The only things that are kept are the bios(which are publicly given to others), and a cookie that stays for your session(and only your session) that stores the fact that you're logged in.</p>
		</details>
		<p>Please note that this is not official. I do not claim that this is monitored by curators or managers.</p>
	</main>
	<%- include("footer") -%>
</body>
	
</html>