<!doctype html>
<html lang=en>

<head>
	<title>Login</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Log In</h1>
	<a href="https://fluffyscratch.hampton.pw/auth/getKeys/v2?redirect=<%- Buffer.from('lowestoffbeatscope.stevesgreatness.repl.co/login', 'utf-8').toString('base64') -%>">Login</a>
</body>

</html>