<!doctype html>
<html lang=en>

<head>
	<title>Login</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<%- include("header") -%>
	<main id="content">
		<a href="https://fluffyscratch.hampton.pw/auth/getKeys/v2?redirect=<%- Buffer.from('lowestoffbeatscope.stevesgreatness.repl.co/login', 'utf-8').toString('base64') -%>"><h1>Login</h1></a>
		<p>Quickly request for your bio in the Forum Helpers website to be changed. Please note that it may not be included in the next PR to the Github Repo, as It's not scrolled through by most TFH members.</p>
		<a href="/whats-next">What is next for this project?</a>
	</main>
	<%- include("footer") -%>
</body>

</html>