<!doctype html>
<html lang=en>

<head>
	<title>View Bio Requests</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<%- include("header") -%>
	<main id="content">
		<p>As of currently, I have a few plans for what's next. This is just a list of all of them.</p>
		<ul>
			<li>Themes.</li>
			<li><del>Mark as resolved.</del></li>
			<li>Better design for "View-All," if you have any suggestions, please send them on the <a href="https://github.com/Steve0Greatness/Forum-Helpers-Bio-Change-Request">Github Repo</a></li>
			<li>Privacy Policy. BTW, this site uses cookies.</li>
		</ul>
	</main>
	<%- include("footer") -%>
</body>

</html>